<xacro:unless value="false"
    xmlns:xacro="http://www.ros.org/wiki/xacro">    <!-- Wrapper for namespace -->
    <xacro:macro name="realsense" params="world_link_name *origin">
        <material name="realsense_material_urdf">            <!-- DEFINED INSIDE MACRO -->
            <color rgba="0.5 0.5 0.6 1.0"/>
        </material>
        <link name="realsense_link">
            <visual>
                <origin rpy="0 0 1.5707963267948966"/>
                <geometry>
                    <mesh filename="package://sensors/realsense_d435/meshes/realsense.dae"/>
                </geometry>
                <material name="realsense_material_urdf"/>
                <gazebo>
                    <material>
                        <diffuse>1.0 1.0 1.0</diffuse>
                        <specular>1.0 1.0 1.0</specular>
                        <pbr>
                            <metal>
                                <albedo_map>package://sensors/realsense_d435/materials/textures/RealSense_Albedo.png</albedo_map>
                                <normal_map>package://sensors/realsense_d435/materials/textures/RealSense_Normal.png</normal_map>
                                <metalness_map>package://sensors/realsense_d435/materials/textures/RealSense_Metalness.png</metalness_map>
                                <roughness_map>package://sensors/realsense_d435/materials/textures/RealSense_Roughness.png</roughness_map>
                            </metal>
                        </pbr>
                        <script>
                            <uri>package://sensors/realsense_d435/materials/scripts/</uri>
                            <uri>package://sensors/realsense_d435/materials/textures/</uri>
                            <name>UrbanTile/RealSense_Diffuse</name>
                        </script>
                    </material>
                </gazebo>
            </visual>
            <collision>
                <origin rpy="0 0 1.5707963267948966"/>
                <geometry>
                    <mesh filename="package://sensors/realsense_d435/meshes/realsense.dae"/>
                </geometry>
            </collision>
            <xacro:box_inertial x="0.02" y="0.1" z="0.01" mass="0.06"/>
        </link>
        <gazebo reference="realsense_link">
            <sensor name="realsense_d435_sensor" type="rgbd_camera">
                <update_rate>10</update_rate>
                <topic>/gz/krytn_realsense</topic>
                <camera name="rs_camera">
                    <optical_frame_id>realsense_depth_optical_frame</optical_frame_id>
                    <horizontal_fov>1.0472</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>10.0</far>
                    </clip>
                    <depth_camera/>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
        <joint name="realsense_depth_joint" type="fixed">
            <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
            <parent link="realsense_link"/>
            <child link="realsense_depth_optical_frame"/>
        </joint>
        <link name="realsense_depth_optical_frame"/>
        <joint name="realsense_joint" type="fixed">
            <parent link="${world_link_name}"/>
            <child link="realsense_link"/>
            <xacro:insert_block name="origin"/>
        </joint>
    </xacro:macro>
</xacro:unless>